html {
  scroll-behavior: smooth;
}
:root {
  --color-bg-dark: #f5f5f5;
  --color-bg: #fdfffd;
  --color-grey: #d1d1d1;
  --color-text: #22243b;
  --color-accent: #f16e03;
  --color-white: white;
  --color-scrollbar: #aaa7a7;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media only screen and(min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and(min-width: 480px) and(max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media only screen and(max-width: 479px) {
  body {
    font-size: 14px;
  }
}
